<div class="story-body">
  <p>Lobster landings in Maine have increased steadily in the last six decades, in 2018 a record-breaking 250 millions of pounds of lobster was harvested. However, many lobstermen remember the years when the catch, and therefore the salary was under. Still, they were hopeful that the lobster population, directly dependent on climate, would recover. But today, despite the landings at an all time high, a different force is threatening the livelihood of Maine fisheries. 
</p>
  <p>In July 2018, China, the largest market outside of North American for the Maine lobster, imposed 25 percent punitive tariffs on goods coming form the United States. The Maine lobster, an industry worth 1.4 billion dollars, is among the goods that is being hit with retaliatory tariffs.
</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/map_china_us_cad.svg"></p>
  <p>Overwhelmingly reliant on the lobster export, Maine lost nearly 85 percent of its usual export to the Chinese market in 2018. In 2017, the US exported nearly 12 million pounds of live lobster, but a year after the tariffs, the number of exports declined by nearly 10 million pounds.The loss of business soon translated into the loss of jobs. Dealers like the Lobster Co., of Arundel laid off half of the wholesale staff.
   <p>In September 2017, the Canadians and the Europeans negotiated a comprehensive economic trade agreement, which eliminated tariffs imposed lobster coming from Canada to the EU. This preferential trade agreement has already been in effect when the retaliatory tariffs by China were announced a year later.</p> 

</p>
</div>