<div class="scrollytelling container">
    <div class="chart" id="chart-1"></div>
    <div class="steps">
        <div class="step" id="step1">
            <h4 class="chart-head">Monthly lobster landings in Maine during 2017 </h4>
            <p class="body-text">Lobster catch is abundant in Maine between July and October</p>
            <p class="body-text">In the off-months when the supply is low, Maine imports lobster from Canada to meet the market demand </p>
        </div>

        <div class="step" id="step2">
            <h4 class="chart-head">Nova Scotia and New Brunswick, Canada</h4>
            <p class="body-text">The peak in the lobster landings happens in May, June, and December. That is why Maine and Canada trade with each other to make up for the demand in off seasons
            </p>
        </div>
    </div>
</div>

<script src="scripts/chart-01.js"></script>


