<div class="story-body">
  <p>“Not only our trade with China is down, our trade with Europe is also down by 20 percent of our historical high,” Annie Tselikis, executive director of the Maine Lobster Dealers' Association, says.

And today, Canada is trading with China at an all time high, exempt from punitive tariffs that the US is experiencing. In June 2018 alone, Canada exported 33 million pounds of live lobster to China. In all of 2018, the US exported 2.2 million pounds of the same species.
</p>
</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/grggg.jpg"></p>


</p>
</div>